@use '../abstracts' as *;

.headline {
  font: 500 4.5rem/5.2rem a;
  font-family: inherit;
  margin: 1em 0;
  @include tablet {
    font-size: 5.7rem;
    line-height: 6.4rem;
  }
}

.title {
  margin: 1em 0;
  font: 700 3.6rem/4.4rem a;
  font-family: inherit;
  @include desktop {
    font-size: 4.5rem;
    line-height: 5.2rem;
  }
}

.subtitle {
  margin: 1em 0;
  font: 500 2.4rem/3.2rem a;
  font-family: inherit;
  @include desktop {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
}

.subheader {
  font: 2.2rem/2.8rem a;
  font-family: inherit;
  margin-bottom: 1rem;
}

.text {
  font: 1.6rem/2.4rem a;
  font-family: inherit;
  margin: 0 0 1em;
}
