$transparent: rgba(255, 255, 255, 0);
$primary-light: #fffcc7;
$primary-dark: #A04203;
$white: #fff;
$white-d: #dfe1e5;
$gray-1: #1f1f1f;
$gray-2: #2c2f31;
$gray-4: #444;
$gray-5: #555;
$gray-9: #999;
$error: #c31d1f;
$success: #448526;
$color-surface: #dfe1e5;
$color-button-light: #ffe755;
$color-button-dark: #E07B00;
$color-on-button-light: #ffef85;
$color-on-button-dark: #F48701;
$color-in-input-light: #f5d000;
$color-in-input-dark: #FA7921;
