@use '../../scss/abstracts' as *;

.modal {
  color: $gray-4;
  font: 1.6rem/2.4rem a;
  font-family: inherit;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, .5);
  }

  &__overlay--opened {
    animation: fadeIn 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__box {
    position: relative;
    width: 100%;
    max-width: 40rem;
    padding: 4.8rem 3.2rem;
    box-sizing: border-box;
    border-radius: 1.6rem;
    background-color: $white;
    @include desktop {
      max-width: 60rem;
      padding: 6.4rem 4.8rem;
    }
  }

  &__box--opened {
    animation: slideIn 300ms cubic-bezier(0.2, 0, 0, 1);
  }

  &__button {
    &:focus,
    &:hover {
      background-color: $color-on-button;
      color: $gray-1;
    }
  }

  &__button-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.6rem;
    border-radius: 1.6rem;
  }

  &__button-open {
    display: block;
    height: 5rem;
    padding: 0 2.4rem;
    margin: 0 auto;
    font-weight: 500;
    background-color: $color-button;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    &:active {
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
  }

  &__icon {
    fill: currentColor;
    font-size: 2rem;
  }

  &__icon-body {
    display: block;
    width: 1em;
    height: 1em;
    transform: translateX(0);
    background: inherit;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
