@use '../../scss/abstracts' as *;

.slide {
  &__figure {
    position: relative;
    display: flex;
  }

  &__image {
    aspect-ratio: 16/9;
    flex-grow: 1;
    object-fit: cover;
  }

  &__desc {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 1.2rem 2.4rem;
    background-color: rgba(0, 0, 0, .5);
    color: $white;
    font: 1.4rem/2rem a;
    font-family: inherit;

    @include desktop {
      padding: 2rem 2.4rem;
    }
  }
}
